<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <title>MD Izženierija</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        
        table {
			text-align: center;
		}

        .nav {
            background-color: #444;
            text-align: center;
            padding: 10px 0;
            overflow: hidden;
        }

        .nav a {
            color: #fff;
           	text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 16px;
            float: left;
        }

        .nav a:hover {
            text-decoration: underline;
            background-color: #ddd;
            color: #333;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
        }
        
        .content {
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
	
<body>
    <!-- Navigation bar -->
    <div class="nav">
        <a href="/home" data-translation="Sākumlapa">Sākumlapa</a>
        <a href="/driver/showAll" data-translation="Šoferi">Šoferi</a>
        <a href="/ticket/showAll" data-translation="Biļetes">Biļetes</a>
        <a href="/trip/showAll" data-translation="Maršruti">Maršruti</a>
        <a href="/tripCalendar/showAll" data-translation="Maršruta Kalendārs">Maršruta Kalendārs</a>      
        
        <button id="translateToEnglishButton" style="display: flex; align-items: center; font-size: 24px;">
	    	<img src="https://em-content.zobj.net/source/telegram/386/flag-united-kingdom_1f1ec-1f1e7.webp" alt="EN" style="width: 1em; height: 1em;">
		</button>
		<button id="translateToLatvianButton" style="display: flex; align-items: center; font-size: 24px;">
	    	<img src="https://em-content.zobj.net/source/twitter/348/flag-latvia_1f1f1-1f1fb.png" alt="LV" style="width: 1em; height: 1em;">
		</button>
    </div>
    <input type="color" id="colorPicker" class="color-input">
    <input type="file" id="imageUploader" accept="image/*" class="image-input">
    <button id="removeImageBtn" data-translation="Noņemt attēlu">Noņemt attēlu</button>
    
    <!-- Main content -->
    <div class="content">
		
<div class="container" th:if="${ not#lists.isEmpty(Ticket)}">
    <table>
        <tr>
            <th data-translation="ID">ID</th>
            <th data-translation="Pirkuma datums Laiks">Pirkuma datums Laiks</th>
            <th data-translation="Cena">Cena</th>
            <th data-translation="Vai bērns?">Vai bērns?</th>
            <th data-translation="Kasieris">Kasieris</th>
            <th data-translation="Maršruts">Maršruts</th>
            <th data-translation="Funkcijas">Funkcijas</th>
        </tr>
        
        <tr th:each="Ticket : ${Ticket}">
            <td th:text="${Ticket.idt}"></td>
            <td th:text="${Ticket.purchaseDateTime}"></td>
            <td th:text="${Ticket.price}"></td>
            <td th:text="${Ticket.isChild}"></td>   
            <td th:text="${Ticket.cashier.name}"></td> 
            <td th:text="${Ticket.trip.idtr}"></td>       
            <td>
                <a th:href="@{/ticket/showOne/{idt}(idt=${Ticket.idt})}" data-translation="Apskatīties">Apskatities</a>
                <!--<a th:href="@{/ticket/update/{idt}(idt=${Ticket.idt})}" data-translation="Atjaunot">Atjaunot</a>-->
            </td>
            
           </tr>
        
    </table>
	
    <div class="pagination">
    <ul>
        <li class="page-item" th:class="${Ticket.first ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/ticket/showAll(page=0)}" data-translation="Pirmā">Pirmā</a>
        </li>
        <li class="page-item" th:class="${Ticket.hasPrevious ? '' : 'disabled'}">
            <a class="page-link" th:href="@{/ticket/showAll(page=${Ticket.number - 1})}" data-translation="Iepriekšējā">Iepriekšējā</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, Ticket.totalPages - 1)}"
            th:class="${Ticket.number == pageNumber ? 'active' : ''}">
            <a class="page-link" th:href="@{/ticket/showAll(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        
        <a class="page-item" th:class="${Ticket.last ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/ticket/showAll(page=${Ticket.totalPages - 1})}" data-translation="Pēdējā">Pēdējā</a>
        </a>
        
        <a class="page-item" th:class="${Ticket.hasNext ? '' : 'disabled'}">
            <a class="page-link" th:href="@{/ticket/showAll(page=${Ticket.number + 1})}" data-translation="Nākamā">Nākamā</a>
        </a>
        
    </ul>
	</div>
	<button id="downloadButton" data-translation="Lejuplādēt informāciju">Lejuplādēt informāciju</button>

    <!--<a class="btn" th:href="@{/ticket/addNew}" data-translation="Pievienot Jaunu biļeti">Pievienot Jaunu biļeti</a>-->
    
   </div>
        


    </div>


    
    <script>
	    document.addEventListener("DOMContentLoaded", function() {
		    var translateToEnglishButton = document.getElementById("translateToEnglishButton");
		    translateToEnglishButton.addEventListener("click", function() {
		        translatePageToEnglish();
		    });
		    var translateToLatvianButton = document.getElementById("translateToLatvianButton");
		    translateToLatvianButton.addEventListener("click", function() {
		        translatePageToLatvian();
		    });
		});
		
		function translatePageToEnglish() {
		    const elementsToTranslate = document.querySelectorAll("[data-translation]");
		
		    elementsToTranslate.forEach(element => {
		        const textToTranslate = element.getAttribute("data-translation");
		        const translatedText = translateToEnglish(textToTranslate);
		        element.innerText = translatedText;
		    });
		}
		
		function translatePageToLatvian() {
		    const elementsToTranslate = document.querySelectorAll("[data-translation]");
		
		    elementsToTranslate.forEach(element => {
		        const textToTranslate = element.getAttribute("data-translation");
		        const translatedText = translateToLatvian(textToTranslate);
		        element.innerText = translatedText;
		    });
		}
		
		function translateToEnglish(text) {
		    const englishTranslations = {
		        "Sākumlapa": "Home",
		        "Šoferi": "Drivers",
		        "Biļetes": "Tickets",
		        "Maršruti": "Routes",
		        "Maršruta Kalendārs": "Route Calendar",
		        "Atjaunot": "Update",
		        "Pirmā": "First",
		        "Iepriekšējā": "Previous",
		        "Nākamā": "Next",
		        "Pēdējā": "Last",
		        "ID": "ID",
		        "Pirkuma datums Laiks": "Date of purchase Time",
		        "Cena": "Price",
		        "Vai bērns?": "Is Child?",
		        "Kasieris": "Cashier",
		        "Maršruts": "Trip",
		        "Apskatīties": "Take a look",
		        "Pievienot Jaunu biļeti": "Add new ticket",
		        "Funkcijas": "Functions",
		        "Noņemt attēlu": "Remove image",
		        "Lejuplādēt informāciju": "Download information",
		        "Apskatīties": "Take a look",
		    };
		
		    return englishTranslations[text] || text;
		}
		
		function translateToLatvian(text) {
		    const latvianTranslations = {
		        "Home": "Sākumlapa",
		        "Drivers": "Šoferi",
		        "Tickets": "Biļetes",
		        "Routes": "Maršruti",
		        "Route Calendar": "Maršruta Kalendārs",
		        "Update": "Atjaunot",
		        "First": "Pirmā",
		        "Previous": "Iepriekšējā",
		        "Next": "Nākamā",
		        "Last": "Pēdējā",
		        "ID": "ID",
		        "Date of purchase Time": "Pirkuma datums Laiks",
		        "Price": "Cena",
		        "Is Child?": "Vai bērns?",
		        "Cashier": "Kasieris",
		        "Trip": "Maršruts",	
		        "Take a look": "Apskatīties",	
		        "Add new ticket": "Pievienot Jaunu biļeti",	   
		        "Functions": "Funkcijas",	 
		        "Remove image": "Noņemt attēlu",	
		        "Download information": "Lejuplādēt informāciju",
		        "Tak a look": "Apskatīties",	 
		    };
		
		    return latvianTranslations[text] || text;
		}
		
		document.addEventListener("DOMContentLoaded", function () {
	        var downloadButton = document.getElementById("downloadButton");
	        if (downloadButton) {
	            downloadButton.addEventListener("click", function () {
	                downloadTableAsXLSX();
	            });
	        }
	    });
	
	    function downloadTableAsXLSX() {
		    var table = document.querySelector("table");
		    var rows = table.querySelectorAll("tr");
		    var data = [];
		
		    for (var i = 0; i < rows.length; i++) {
		        var row = [], cols = rows[i].querySelectorAll("td, th");
		
		        for (var j = 0; j < cols.length - 1; j++) { 
		            row.push(cols[j].innerText);
		        }
		
		        data.push(row);
		    }
		
		    var ws = XLSX.utils.aoa_to_sheet(data);
		    var wb = XLSX.utils.book_new();
		    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
		
		    var filename = "table_data.xlsx";
		    XLSX.writeFile(wb, filename);
		}
		
		document.addEventListener("DOMContentLoaded", function() {
            function handleColorChange() {
                const colorPicker = document.getElementById('colorPicker');
                const selectedColor = colorPicker.value;

                document.body.style.backgroundColor = selectedColor;

                localStorage.setItem('background-color', selectedColor);
            }

            function handleImageUpload() {
                const imageUploader = document.getElementById('imageUploader');
                const selectedImage = imageUploader.files[0];

                if (selectedImage) {
                    const imageUrl = URL.createObjectURL(selectedImage);
                    document.body.style.backgroundImage = `url('${imageUrl}')`;

                    localStorage.setItem('background-image', imageUrl);
                }
            }

            function removeImage() {
                document.body.style.backgroundImage = 'none';

                localStorage.removeItem('background-image');
            }
          
            const colorPicker = document.getElementById('colorPicker');
            colorPicker.addEventListener('input', handleColorChange);

            const imageUploader = document.getElementById('imageUploader');
            imageUploader.addEventListener('change', handleImageUpload);

            const removeImageBtn = document.getElementById('removeImageBtn');
            removeImageBtn.addEventListener('click', removeImage);
           
            const storedColor = localStorage.getItem('background-color');
            const storedImage = localStorage.getItem('background-image');
          
            if (storedColor) {
                document.body.style.backgroundColor = storedColor;
            }

            if (storedImage) {
                document.body.style.backgroundImage = `url('${storedImage}')`;
            }
        });	
	</script>
    
</body>
</html>